h5 {
  font-size: 3vh;
  font-weight: 600;
}

.App {
  text-align: center;
}

.main_background {
  height: 500px;
  background-image: url('http://www.rda.go.kr/webzine/2020/07/images/sub1-2_img02.jpg');
  background-size: cover;
  background-position: center;
}

.main_products_things {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.rentBt {
  border: 0;
  border-radius:  5px;
  font-size: 2vh;
  color: white;
  background-color: rgb(253, 89, 89);
}

.coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 161);
  height: 70px;
}

@media screen and (max-width:768px) {
  .main_products_things {
    flex-direction: column;
  }
}

